*{
  margin: 0;
  padding: 0;
}
body {
  /* margin: 0;
  padding: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  width: 100%;
  height: 50px;
  background: rgb(85, 48, 248);
  text-align: center;
}
.navbar{
  width: 100%;
  height: 50px;
  background: rgb(210, 233, 219);
  display: flex;
  justify-content: center;
}
ul{
  width: 50%;
  background: hotpink;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li{
  list-style: none;
}
.table{
  width: 100%;
  height: auto;
  border: 2px solid red;
 
}
.table-info{
  width:50%;
  height:auto;


}
.table-header{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  
}
.club-info{
  width: 50%;
  display: flex;
  align-items: center;
  
}
.club-info-pstn{
  width: 12%;
  text-align: center;

}
.club-info-logo{
  width: 15%;
  text-align: center;
}
.club-logo{
  width: 30px;
  height: 30px;
}
.club-info-name{
  width: 30%;
  text-align: center;
}
.club-stats{
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.club-details{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.club-details-logo{
  width: 50px;
  height: 50px;
}
.fixtures{
  width: 100%;
  height: auto;
  border: 1px solid gold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fixtures-area{
  width: 600px;
  height: auto;
  border: 2px solid red;
}
.fixtures-row{
  width: 400px;
  display: flex;
  

 


}
